<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>I forgot my project's name :(</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='recources/favicon.ico') }}">
</head>

<body>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jerosoler/Drawflow@0.0.48/dist/drawflow.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/gh/jerosoler/Drawflow/dist/drawflow.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
    integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/81659bf471.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='index.css') }}" />
  <script src="{{ url_for('static', path='index.js') }}" type="module"></script>
  <script src="{{ url_for('static', path='drawflow utils/binders.js') }}" type="module"></script>
  <script src="{{ url_for('static', path='drawflow utils/event_loggers.js') }}" type="module"></script>


  <header>
    <h2>I forgot my project's name :(</h2>
    <div class="github-link">
      <a href="https://github.com/SosnoviyBor/GradWerk" target="_blank">
        <i class="fab fa-github fa-3x"></i>
      </a>
    </div>
  </header>
  <div class="wrapper">
    <div class="col">
      <div class="drag-drawflow" draggable="true" data-node="userinput">
        <i class="fa-solid fa-arrow-right-to-bracket"></i><span> User input</span>
      </div>
      <div class="drag-drawflow" draggable="true" data-node="useroutput">
        <i class="fa-solid fa-arrow-right-from-bracket"></i><span> User output</span>
      </div>
      <div class="drag-drawflow" draggable="true" data-node="frontend">
        <i class="fa-solid fa-computer"></i><span> Frontend</span>
      </div>
      <div class="drag-drawflow" draggable="true" data-node="backend">
        <i class="fa-solid fa-server"></i><span> Backend</span>
      </div>
      <div class="drag-drawflow" draggable="true" data-node="database">
        <i class="fa-solid fa-database"></i><span> Database</span>
      </div>

    </div>
    <div class="col-right">
      <div id="drawflow">
        <div id="btn-import" class="btn-import">Import</div>
        <div id="btn-export" class="btn-export">Export</div>
        <div id="btn-clear" class="btn-clear">Clear</div>
      </div>
    </div>
  </div>
</body>

</html>